
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Habitaciones</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Listado de Habitaci&oacute;n</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Registro de Habitaci&oacute;n </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Registro de Habitaci&oacute;n</h5>
        <div class="card-body">
           

                <div class="form-group">
                    <label for="input-select">Tipo de Habitacio&oacute;n</label>
                    <select class="form-control" id="cantidadHuespedes">
                        <option>Seleccione</option>
                        <option>Presidencial</option>
                        <option>Economica</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputUserName">N&uacute;mero de habitaci&oacute;n </label>
                    <input id="inputUserName" type="text" name="name" data-parsley-trigger="change" required="" placeholder="numero de habitacion" autocomplete="off" class="form-control">
                </div>

                <div class="form-group">
                    <label for="numeroPiso">N&uacute;mero de piso </label>
                    <input id="numeroPiso" type="text" name="name" data-parsley-trigger="change" required="" placeholder="numero de piso" autocomplete="off" class="form-control">
                </div>
              



                <div class="row">
                    
                    <div class="col-sm-12 pl-12 text-right">
                        <button type="submit" class="btn btn-space btn-primary">Submit</button>
                        <button routerLink="/habitaciones/habitacion" class="btn btn-space btn-secondary">Cancel</button>
                    </div>
                </div>
            
        </div>
    </div>
</div>


</div>




